* {
  padding: 0;
  margin: 0;
  position:relative;
}

.container {
  height: 1000px;
  width: 500px;
  margin: auto;
}

.tweetContainer {
  box-sizing: border-box;
  height: auto;
  width: 500px;
  margin: 0px;
  color: #17252a;
  background-color: #def2f1;
  border: 1px solid white;
  border-top: none;
}

.tweetContainer span {
  position: relative;
}
.tweetContainer .like {
  background: transparent;
  outline: none;
  border: none;
  font-size: 15px;
  position: relative;
  top: -auto;
}

.tweetContainer .like:hover {
  content: "♥";
  color: red;
}

.tweetContainer .right {
  position: relative;
  float: right;
}

.tweetMessage {
  position: relative;
  top: -15px;
}

.tweetPost {
  box-sizing: border-box;
  height: 100px;
  width: 500px;
  margin: 0px auto 0px auto;
  color: #feffff;
  background-color: #17252a;
  overflow: hidden;
  padding: 0px;
  border-bottom: 1px solid white;
}

.tweetPic {
  height: 70px;
  width: 70px;
  border: 1px solid black;
  border-radius: 50px;
  overflow: hidden;
  background-color: #feffff;
  float: left;
  margin-right: 10px;
}

.messageContainer {
  box-sizing: border-box;
  border: 1px solid black;
  height: 100px;
  width: 500px;
  border-radius: 10px;
  margin: 5px auto 50px auto;
  color: #feffff;
  background-color: #17252a;
  padding: 50px;
}

.textBox {
  height: 70px;
  width: 100%;
  border: hidden;
  box-sizing: border-box;
}

.buttonContainer {
  float: right;
  margin-right: 5px;
}

.horizontalList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.formButton {
  float: left;
  padding-left: 12px;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  outline: none;
}

.board {
  position: relative;
  overflow-y: scroll;
  overflow-x: auto;
  height: 500px;
  width: auto ;
  margin: auto;
}

.board::-webkit-scrollbar-track {
  width: 6px;
}
.board::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.board::-webkit-scrollbar-track {
  background-color: transparent;
}

.navBar {
  /* border: 1px solid black; */
  height: 100%;
  width: 250px;
  overflow-x: hidden;
  padding-top: 60px;
  background-color: #def2f1;
  z-index: 1;
  color: #17252a;
  position: fixed;
  float:left;
}

.navBar .pic {
  height: 100px;
  /* border: 1px solid black; */
  border-radius: 75px;
  overflow: hidden;
  background-color: #feffff;
}

.navBar .ProfilePic {
  margin-left: 45px;
}

.navBar h1 {
  padding-bottom: 10px;
}

.navBar li {
  height: 40px;
  padding-bottom: 10px;
  margin-left: 50px;
  margin-top: 20px;
  list-style-type: none;
  display: flex;
}

.navBar li div {
  top: 5px;
  left: 5px;
  font-size: 15px;
}

.navBar li:hover {
cursor:pointer;
}

.navBar img {
  height: 30px;
}

.navBar li:hover {
  color: #3aafa9;
}

.Link {
  text-decoration: none;
  color: inherit;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  /* margin: auto; */
  /* margin-right: 10px */
}
.wrapper {
  display: flex;
}
.locate {
  position: absolute;
  top: 50px;
  left: 300px;
  z-index: 1;
  width: 50px;
  cursor: pointer;
}

.treasurebar {
  /* border: 1px solid black; */
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  overflow-x: hidden;
  padding-top: 60px;
  background-color: #def2f1;
  z-index: 1;
  color: #17252a;
}
.treasurebar .li {
  list-style-type: none;
}

/* @media (max-width: 1000px) {
  .board {
    margin-left: 300px;
  }
  .tweetPost {
    margin-left: 300px;
    width: 500px;
  }
} */

.SignUpForm {
  height: 450px;
  width: 250px;
  margin: auto;
  padding: 25px;
  background-color: #def2f1;
  box-shadow: 5px 5px 8px #17252a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}

.SignInForm {
  height: 200px;
  width: 250px;
  margin: auto;
  padding: 25px;
  background-color: #def2f1;
  box-shadow: 5px 5px 8px #17252a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}

.user-box {
  position: relative;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
}

.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  pointer-events: none;
  transition: 0.5s;
}
.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: black;
  font-size: 12px;
  
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.SignUpForm h1 {
  margin-bottom: 20px;
  margin-top: 0;
  padding-top: 0;
  text-align: left;
}

.SignUpForm h4,
h3 {
  margin-bottom: 20px;
  margin-top: 0;
  padding-top: 0;
  text-align: center;
  color: red;
}

.SignInForm h5 {
  margin-bottom: 20px;
  margin-top: 0;
  padding-top: 0;
  text-align: center;
  color: red;
}

.btstyle {
  border: 0;
  margin: 0;
  padding: 0.75rem 1rem;
  border-radius: 0.317rem;
  background-color: #17252a;
  color: #def2f1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  cursor: pointer;
  width: 100%;
}

.btstyle:hover {
  opacity: 0.85;
}

.friendBar {
  /* border: 1px solid black; */
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  overflow-x: hidden;
  padding-top: 60px;
  background-color: #def2f1;
  z-index: 1;
  color: #17252a;
}

.center {
  display: flex;
  justify-content: center;
}
.center li{
list-style-type: none;
}

datalist {
  display:none;
}