* {
  padding: 0;
  margin: 0;
}

.tweetContainer {
  box-sizing: border-box;
  border: 1px solid black;
  height: 200px;
  width: 500px;
  border-radius: 10px;
  margin: 5px auto 50px auto;
  color: #feffff;
  background-color: #17252a;
  padding: 50px;
}

.messageContainer {
  box-sizing: border-box;
  border: 1px solid black;
  height: 100px;
  width: 500px;
  border-radius: 10px;
  margin: 5px auto 50px auto;
  color: #feffff;
  background-color: #17252a;
  padding: 50px;
}

.tweetPost {
  box-sizing: border-box;
  border: 1px solid black;
  height: 100px;
  width: 800px;
  border-radius: 10px;
  margin: 50px auto 0px auto;
  color: #feffff;
  background-color: #17252a;
  overflow: hidden;
  padding: 0px;
}

.textBox {
  height: 70px;
  width: 100%;
  border-radius: 10px;
  border: hidden;
  box-sizing: border-box;
}

.buttonContainer {
  float: right;
  margin-right: 5px;
}

.horizontalList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.formButton {
  float: left;
  padding-left: 12px;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  outline: none;
}

.board {
  position: relative;
  overflow-y: scroll;
  overflow-x: auto;
  height: 500px;
  width: 700px;
  margin: auto;
}

.board::-webkit-scrollbar-track {
  width: 6px;
}
.board::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.board::-webkit-scrollbar-track {
  background-color: transparent;
}

.navBar {
  /* border: 1px solid black; */
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  display: block;
  overflow-x: hidden;
  padding-top: 60px;
  background-color: #def2f1;
  z-index: 1;
  color: #17252a;
}

.navBar .pic {
  height: 150px;
  border: 1px solid black;
  border-radius: 75px;
}

.navBar .ProfilePic {
  margin-left: 45px;
}

.navBar h1 {
  padding-bottom: 10px;
}

.navBar li {
  height: 40px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-top: 20px;
  list-style-type:none
}

.navBar img {
  height: 30px;
}

.navBar li:hover {
  color: #3aafa9;
}

.Link {
  text-decoration: none;
  color: inherit;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  /* margin: auto; */
  /* margin-right: 10px */
}
.wrapper {
  display: flex;
}
.locate {
  position: absolute;
  top: 50px;
  left: 300px;
  z-index: 1;
  width: 50px;
  cursor: pointer;
}

.treasurebar {
  /* border: 1px solid black; */
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  overflow-x: hidden;
  padding-top: 60px;
  background-color: #def2f1;
  z-index: 1;
  color: #17252a;
}
.treasurebar .li{
  list-style-type: none;
}

@media (max-width: 1000px) {
  .board {
    margin-left: 300px;
  }
  .tweetPost {
    margin-left: 300px;
  }
}
